<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
	<div class="header-container">
		<div class="top-bar">
			<div class="left-contents">
				<h1>Topic Chat</h1>
			</div>
			<div class="right-contents">
				<div class="">
					<form th:action="@{/group/group}" method="get">
						<button type="submit">HOME</button>
					</form>
				</div>
				<div class="">
					<form th:action="@{/contact/contact}" method="get">
						<button type="submit">CONTACT</button>
					</form>
				</div>
				<div class="">
					<form role="form" id="logout" th:action="@{/logout}" method="post">
						<button type="submit">SIGN OUT</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="main-container">
		<div class="center-content">
			<div class="top-content">
				<div class="top-bar">
					<div class="left-contents">
						<form th:action="@{/message/message}" method="get" th:object="${chatForm}">
							<input type="text" name="chat_id" th:value="${chatInfo.chat_id}" style="display:none;">
							<input type="text" name="chatname" th:value="${chatInfo.chatname}" style="display:none;">
							<input type="text" name="group_id" th:value="${chatInfo.group_id}" style="display:none;">
							<input type="text" name="groupname" th:value="${chatInfo.groupname}" style="display:none;">
							<input type="text" name="user_id" th:value="${chatInfo.user_id}" style="display:none;">
							<input type="submit" value="＜">
						</form>
						<div class="page-title">
							<h2>Note</h2>
						</div>
					</div>
					<div class="right-contents">
						<form th:action="@{/note/addNote}" method="get" th:object="${noteForm}">
							<input type="submit" value="add new Note" class="btn-border">
							<input type="text" name="chat_id" th:value="${chatInfo.chat_id}" style="display:none;">
							<input type="text" name="chatname" th:value="${chatInfo.chatname}" style="display:none;">
							<input type="text" name="group_id" th:value="${chatInfo.group_id}" style="display:none;">
							<input type="text" name="groupname" th:value="${chatInfo.groupname}" style="display:none;">
							<input type="text" name="user_id" th:value="${chatInfo.user_id}" style="display:none;">
						</form>
					</div>
				</div>
			</div>
			<div class="main-content">
				<div th:each="list:${noteList}">
					<div class="group">
						<form th:action="@{/}" method="post" th:object="${noteForm}">
							<div class="group-content">
								<div class="left-container">
								<div class="groupname">
							   		<p th:text="${list.title}"></p>
							   	</div>
							   	<div class="group_id">
							   		<p th:text="${list.username}"></p>
							   	</div>
							   	<div class="comment">
							   		<p th:text="${list.text}"></p>
							   	</div>
								</div>
								<div class="right-container">
									<div class="upddatetime">
										<p th:text="${list.upddatetime}"></p>
									</div>
								</div>
							</div>
							<input type="text" name="user_id" th:value="${list.user_id}" style="display:none;">
							<!--<input type="submit" value="選択">-->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>