@charset "UTF-8";

.search_container{
  box-sizing: border-box;
}
.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 245px;
  overflow: hidden;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}

.main-container .center-content .main-content .search-wrapper{
	padding: 0 0 80px;
}

.main-container .center-content .main-content .search-wrapper .user-info{
	padding: 30px 8%;
}

.main-container .center-content .main-content .search-wrapper .user-info div{
	margin-top: 30px;
	font-size: 25px;
}

.main-container .center-content .main-content .search-wrapper .user-info .username{
}

.main-container .center-content .main-content .search-wrapper .user-info .user_id{
	color: gray;
}

.main-container .center-content .main-content .search-wrapper .user-info .comment{
	margin-bottom:60px;
}

.main-container .center-content .main-content .search-wrapper .search-form{
	padding: 50px 8% 50px;
}