<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- ログイン画面 -->
<div class="wrapper">
	<div class="header-container">
		<div class="top-bar">
			<div class="left-contents">
				<h1>Topic Chat</h1>
			</div>
		</div>
	</div>
	<div class="main-container">
		<div class="center-content">
			<div class="top-content">
				<div class="top-bar">
					<div class="left-contents">
						<div class="page-title">
							<h2>Login</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="main-content">
				<form method="post" th:action="@{/login}">
					<div class="add-form">
						<div>
							<label for="user_id">User ID</label>
							<input type="text" id="username" name="username" class="add-text" placeholder="ユーザーIDを入力する">
							<div class="text_underline"></div>
						</div>
						<div>
							<label>Password</label>
							<input type="password" id="password" name="password" class="add-text" placeholder="パスワードを入力する">
							<div class="text_underline"></div>
						</div>
						<div>
							<input type="submit" value="Login" class="btn-border">
						</div>
					</div>
				</form>
				<div class="move-signup">
					<form method="get" th:action="@{/signup}">
						<input type="submit" value="Sign up" class="btn-border">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>